button,
.button {
  display: inline-block;
  height: $unit * 5;
  line-height: $unit * 5;
  padding: 0 $unit * 2;
  border-radius: $unit/4;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0.9em;
  background: $main-color;
  color: $button-color;
  transition: background-color 250ms linear;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $button-color;
    background: darken($main-color, 10%);
  }
}