html {
  background: $greyBkg;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  overflow-x: hidden;
  background: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: $text-title;
}

p {
  margin: $unit * 2 0;
}

.inner {
  max-width: $site-max-width;
  margin: $unit * 13 auto;
  padding: 0 $unit * 3;
}

.center {
  text-align: center;
}

.blog-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $unit * 6 0;
}