---
layout: default
single: true
css:
  name: post 
  files:
    - /css/post.css
---

<div>
  <article class="Post" role="article">
    {% include article.html %}
    <footer class="Post-footer">
      <p class="Post-meta">
        {% if page.previous.url %}
          <button class="Button Button--blue ladda-button" data-href="{{page.previous.url}}" data-color="blue" data-style="expand-right" data-size="s"><span class="ladda-label">&laquo; prev post</span></button>
        {% endif %}
        {% if page.next.url %}
          <button class="Button Button--blue ladda-button" data-href="{{page.next.url}}" data-color="blue" data-style="expand-left" data-size="s"><span class="ladda-label">next post &raquo;</span></button>
        {% endif %}
      </p>
    </footer>
  </article>
</div>