
  /**
   *  Buttons class
   */

  @import "compass/css3";


  button.grey, a.button.grey {
    @include inline-block();
    background:#CCCCCC;
    line-height:46px;
    font-size:25px;
    font-weight:lighter;
    letter-spacing:-2px;
    @include border-radius(2px);

    &:hover {}

    &:disabled {}
  }

