
  /**
   *  404 error layout
   */

  @import "compass/css3";

  body.error {
    min-height:780px;
    @include background(image-url("layout/antarctic_bkg.jpg") repeat-x center bottom #010101);

    .center.block {
      width:200px;
      margin:0px auto 0;
      padding:70px 0 0;

      p, label{
        font-size:26px;
        font-weight:lighter!important;
        color:#DDDDDD;
      }

      label { display:block }
      p { width:140px; margin:0; line-height:24px; @include inline-block(); }
      a.logo { height:40px; @include inline-block() }

      div.more {margin:5px 0 0}

      .button.tour {
        position:relative;
        width:164px;
        padding:0 18px 2px 18px;
        margin:15px 0 0;
        background:#CCCCCC;
        color:#999;
        letter-spacing:0;

        span.play {
          position:absolute;
          right:15px;
          top:10px;
          height:28px;
          width:28px;
          @include border-radius(30px);
          border:1px solid #aaa;
          z-index:1;

          &:before {
            content: '';
            position:absolute;
            top:10px;
            left:10px;
            @include inline-block();
            width:10px;
            height:1px;
            background:#aaa;
            @include transform(rotate(45deg));
          }


          &:after {
            content: '';
            position:absolute;
            top:16px;
            left:10px;
            @include inline-block();
            width:10px;
            height:1px;
            background:#aaa;
            @include transform(rotate(-45deg));
          }
        }

        &:hover {text-decoration:none}
      } 
    }
  }