
  /**
   *  Footer style class
   */

  @import "compass/css3";
  @import "sprites";

  footer {
    display:block;
    height:auto;
    padding:0;

    h1 {
      display:block;
      padding:0;
      margin:30px 0 0;
      text-align:center;

      a.logo {
        @include inline-block();
      }
    }

    nav {
      display:block;
      margin:20px 0 0;
      text-align:center;

      a {
        @include inline-block();
        margin:0 0 0 8px;
        line-height:normal;
        font-weight:normal;
        border-top:0;
        border-bottom:1px solid white;

        &:first-child {margin-left:0}
        
        &:hover {
          border-bottom:1px solid #555;
        }

        &.selected {
          border-bottom: 1px solid #555;

          &:hover {cursor:default}
        }

        &.disabled {
          @include opacity(0.5);
          &:hover {
            text-decoration: none;
            border-top:0;
            border-bottom:1px solid white;
          }
        }
      }
    }

    p {
      display:block;
      text-align:center;

      &.thanks {
        margin:15px 0;
        font-size:13px;
        color:#898989;
        a { color:orange; &:hover { color:orange; } }  
      }
    }

    a.twitter {
      @include inline-block();
      margin-bottom:40px;
      font-weight:normal;
      font-size:16px;
      line-height:20px;
      text-decoration:none;
      color:#55ACEE;
      text-align: center;

      .fa-twitter {
        margin-right:5px;
        vertical-align:middle;
        font-size:26px;
      }
      
      &:hover {
        text-decoration:underline;
      }
    }
  }