/**
   *  Home endpoint
   */

  @import "compass/css3";
  @import "helpers";
  @import "sprites";
  @import "vars";

  body.home {
    margin:0;
    padding:100px 0 0;

    header {
      max-width:800px;
      height:auto;
      margin:0 auto;
      padding:0;

      h1 {
        float:none;
        display:block;
        width:100%!important;
        padding:0;
        margin:30px 0 0;
        text-align:center;

        a.logo { @include inline-block(); }
      }
    }

    section {
      width:400px;
      max-width:400px;
      margin:20px auto 0;

      @media screen and (max-width: $max-width) {
        display:block;
        width:auto;
        max-width:auto;
        padding:0 10px;
      }

      p {
        text-align:center;
        color:#898989;
      }
    }

    footer {
      nav {
        a {
          @include inline-block();
          margin:0 8px;
          font-size:15px;

          i.fa {
            font-size:18px;
            margin-right:3px;
          }

          &.linkedin { color:#0975B5 }

          &:hover {
            text-decoration:none;
            &.twitter { border-color:#55ACEE }
            &.linkedin { border-color:#0975B5 } 
          }

        }
      }
    }

    @media screen and (max-width: $max-width) {
      padding:50px 0;
    }
  }