// Blog pagination
// --------------------------------------------

@import "../common/colors";
@import "../common/vars";

.BlogPagination {
  max-width: $max-w;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}