{{ define "main" }}
	<div class="inner">
		<h1>Hola,</h1>
		<ul class="share">
	  	<li>
	  		<a class="share-twitter" href="http://twitter.com/@{{ .Site.Params.social.twitter }}">
	  			<i class="fa fa-twitter fa-lg"></i>
	  		</a>
	  	</li>
	  	<li>
	  		<a class="share-github" href="http://github.com/{{ .Site.Params.social.github }}">
	  			<i class="fa fa-github fa-lg"></i>
	  		</a>
	  	</li>
	  	<li>
	  		<a class="share-linkedin" href="http://linkedin.com/in/{{ .Site.Params.social.linkedin }}">
	  			<i class="fa fa-linkedin fa-lg"></i>
	  		</a>
	  	</li>
	  </ul>

		{{ .Content }}
	</div>
{{ end }}