{{ define "main" }}
  {{ range (.Paginator 4).Pages }}
    <article>
      <div class="inner">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time class="timeago" datetime='{{ .Date.Format "2006-01-02T15:04:05-07:00" }}'>{{ .Date }}</time>
        {{ .Content }}
      </div>
    </article>
  {{ end }}

  <nav class="blog-navigation">
    {{ if .Paginator.HasPrev }}
      <button data-href="{{ .Paginator.Prev.URL }}" class="ladda-button"  data-color="blue" data-size="s" data-style="slide-up"><span class="ladda-label">{{ i18n "prev" }}</span></button>
  	{{ end }}

  	{{ if .Paginator.HasNext }}
      <button data-href="{{ .Paginator.Next.URL }}" class="ladda-button" data-color="blue" data-size="s" data-style="slide-up"><span class="ladda-label">{{ i18n "next" }}</span></button>
  	{{ end }}
  </nav>
{{ end }}

{{ define "site/scripts" }}
  <script>var locale = "{{ .Lang }}";</script>
  <script src="/js/blog.js"></script>
{{ end }}