<div class="project_bkg">
  <div class="project_inner">
    <h3>A<em>F</em>G</h3>
    <div id="AFG_map"></div>
    <div class="lists">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<span class="line"></span>