@import './reset';
@import './vars';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

@import './blog';