@import 'vars';
@import 'colors';

// Blog styles

article {
  display: block;
  padding: 100px 20px;

  &:nth-child(even) {
    background: #f9f9f9;
  }
}

article .inner {
  max-width: $site-max-width;
  margin: 0 auto;
}

article h2 {
  margin: 0;
  color: $text-title;
}

article time {
  color: $text-annotation;
  font-style: italic;
}

article img,
article iframe {
  width: 120%;
  margin: 20px 0 20px -10%;
}

article em {
  font-size: 14px;
}

article .share {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

article .share > * {
  margin: 0 10px 0 0;
}

article .share-twitter { color: $twitter-color; }
article .share-facebook { color: $facebook-color; }
article .share-linkedin { color: $linkedin-color; }

article .tag {
  padding: 4px 10px;
  color: #FFF;
  font-size: 12px;
  background: #CCC;
  border-radius: 2px;

  &:hover {
    text-decoration: none;
    background: #999;
  }
}

.blog-navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 0;
}