@import 'vars';
@import 'colors';

// Blog styles

article {
  display: block;
  padding: 120px 0;

  &:nth-child(even) {
    background: #f9f9f9;
  }
}

article .inner {
  margin-top: 0;
  margin-bottom: 0;
}

article time {
  color: $text-annotation;
  font-style: italic;
}

article .share {
  justify-content: flex-start;
  margin-top: 5px;
}

article img,
article iframe {
  width: 120%;
  margin: 20px 0 20px -10%;
}

article em {
  font-size: 14px;
}

article .tag {
  padding: 4px 10px;
  color: #FFF;
  font-size: 12px;
  background: #CCC;
  border-radius: 2px;

  &:hover {
    text-decoration: none;
    background: #999;
  }
}

.blog-navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px 0;
}
