@import 'vars';
@import 'colors';

// Hello header

$selected-color: darken($main-color, 20%);

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto 0;
}

header nav {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

header nav a {
  margin: 0 5px;
  padding: 2px 0 2px 20px;
  border-left: 1px solid #CCC;

  &:hover {
    text-decoration: none;
    border-left: 1px solid $selected-color;
    color: $selected-color;
  }
}

header nav a.is-selected {
  border-left: 1px solid $selected-color;
  color: $selected-color;

  &:hover {
    text-decoration: none;
    color: $selected-color;
    cursor: default;
  }
}