@import 'vars';
@import 'colors';

// Blog styles

article {
  display: block;
  padding: 120px 0;

  &:nth-child(even) {
    background: #f9f9f9;
  }
}

article .inner {
  margin-top: 0;
  margin-bottom: 0;
}

article time {
  color: $text-annotation;
  font-style: italic;
}

article .share {
  justify-content: flex-start;
  margin-top: 5px;
}

article img,
article iframe,
article svg {
  margin: 20px 0 20px -10%;
}
article img,
article iframe {
  width: 120%;
}

article em {
  font-size: 14px;
}

article p {
  color: $text-paragraph;
  line-height: 1.8;
}

article .tag {
  padding: 4px 10px;
  color: #FFF;
  font-size: 12px;
  background: #CCC;
  border-radius: 2px;
  text-decoration: none;

  &:hover {
    background: #999;
  }
}

blockquote {
  margin: 0;
  padding: 10px 30px;
  background: rgba(#FDD242, 0.15);
}
