@import 'vars';
@import 'colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  overflow-x: hidden;
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: darken($main-color, 10%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: $text-title;
}

.inner {
  max-width: $site-max-width;
  margin: 100px auto;
  padding: 0 20px;
}

.share {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.share > li,
.share > a {
  margin: 0 10px 0 0;
}

.share-twitter {
  color: $twitter-color;
  &:hover {
    text-decoration: none;
    color: darken($twitter-color, 15%);
  }
}
.share-facebook {
  color: $facebook-color;
  &:hover {
    text-decoration: none;
    color: darken($facebook-color, 15%);
  }
}
.share-linkedin {
  color: $linkedin-color;
  &:hover {
    text-decoration: none;
    color: darken($linkedin-color, 15%);
  }
}
.share-github {
  color: $github-color;
  &:hover {
    text-decoration: none;
    color: darken($github-color, 15%);
  }
}
