<ul class="pure-g-r">
  <li class="pure-u-1-2 info">
    <div class="l-box">
      <h3><a href="<%= url %>"><%= title %></a></h3>
      <span class="date"><%= date %></span>
      <p class="excerpt"><%= excerpt %></p>
    </div>
  </li>
  <li class="pure-u-1-2 preview">
    <div class="l-box"></div>
  </li>
</ul>