<header role="banner">
  {{ partial "site/logo.html" . }}

  <nav>
  	{{ $currentPage := . }}
  	{{ range .Site.Menus.main.ByWeight }}
  		<a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-selected {{end}}" href="{{.URL}}">{{ .Name }}</a>
  	{{ end }}
  	{{ range .Translations }}
	    <a class="flag" href="{{ .Permalink }}">
	    	{{- $svgPartial := ( printf "svg/%s.svg" .Lang ) -}}
	    	{{ partial $svgPartial . }}
	    </a>
	  {{ end }}
	</nav>
</header>