<script src="/a/js/timeago.js" type="text/javascript"></script>
<script>
  // Timeago pretty
  timeago.render(document.querySelectorAll('.timeago'))

  // Scroll to content if it isn't the home
  window.onload = function () {
    var isHome = window.location.pathname === '/a'
    var headerEl = document.getElementById('myself')
    var scrollPos = window.scrollY
    var headerHeight = headerEl && headerEl.getBoundingClientRect().height || 0
    if (headerHeight > 0 && scrollPos < headerHeight && !isHome) {
      setTimeout(function () {
        window.scrollTo(0, Math.abs(headerHeight))
      }, 0)
    }
  }
</script>