

  /**
   *  Styles for main page image 
   */

  @import "vars";

  #image {
    padding-top:20px;
    padding-bottom:0;
    border-bottom:1px solid #CCC;
    text-align:center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    @media screen and (max-width: $max-width) {
      overflow:hidden;

      img {
        @include scale(1.20, 1.2);
      }
    }
  }