
  /**
   *  Projects-navigation styles
   *
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/inline-block";
  @import "vars";

  
  .projects-navigation {

    a {
      position:absolute;
      top:200px;
      width:150px;
      text-align:center;

      i.fa {
        width:60px;
        line-height:60px;
        text-align:center;
        border:4px solid #EEE;
        @include border-radius(60px);
        font-size:20px;
        background:white;
      }

      span {
        display:block;
        margin-top:10px;
        font-size:12px;
      }

      &.next {
        left:1%;
        text-indent:-3px;
      }

      &.prev {
        right:1%;
        text-indent:3px;
      }
    }


    @media screen and (max-width: $max-width) {
      position:relative;
      height:40px;
      margin:40px 0 0;
      text-align:center;

      a {
        position:relative;
        @include inline-block();
        top:auto;
        width:auto;

        i.fa {
          width:40px;
          line-height:40px;
        }

        &.next { left:auto }
        &.prev { right:auto }

        span { display:none }
      }
    }
  }