<article class="items-list {% if include.even %} even {% endif %}" id="social">
  <header>
    <h3 class="page-heading">Where to find me</h3>
    <p class="page-subtitle">Places where I move around...</p>
  </header>
  <div class="page-content">
    <ul class="pure-g-r">
      {% for network in site.social %}
        <li class="pure-u-1-4">
          <div class="l-box">
            <a href="{{ network[1].url }}">
              <div class="avatar">
                <i class="fa fa-{{ network[1].icon }}"></i>
              </div>
              <div class="info">
                <h5>{{ network[1].name }}</h5>
                <p>{{ network[1].description }}.</p>
              </div>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>