<article class="items-list {% if include.even %} even {% endif %}" id="technologies">
  <header>
    <h3 class="page-heading">Behind the scenes</h3>
    <p class="page-subtitle">Some open frameworks, plugins or libraries I’ve used working on this {% if include.type %} {{ include.type }} {% else %} project {% endif %}</p>
  </header>
  <div class="page-content">
    <ul class="pure-g-r">
      {% for tech in page.technologies %}
        {% capture partial %}technologies/{{ tech }}.html{% endcapture %}
        {% include {{partial}} %}
      {% endfor %}
    </ul>
  </div>
</article>