<article class="{% if include.even %} even {% endif %}" id="recent-posts">
  <header>
    <h3 class="page-heading">Recent posts</h3>
    <p class="page-subtitle">Last published stories and thoughts in my <a href="/blog">blog</a></p>
  </header>
  <div class="page-content">
    <ul class="pure-g-r">
      {% assign default_thumbnail = "/assets/img/layout/default-post-thumbnail.png" %}
      {% for post in site.posts limit: 2 %}
        <li class="pure-u-1-2">
          <div class="l-box">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
            <p class="text">{{ post.content | strip_html | truncatewords:30 }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>