<!--div class="item">
  <div class="head">
    <div class="left-column"></div>
    <div class="center-column">
      <span class="bar line bottom"></span>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="content expand">
    <div class="left-column"></div>
    <div class="center-column">
      <p class="year"><%= year %></p>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="foot">
    <div class="left-column"></div>
    <div class="center-column">
      <span class="bar line top"></span>
    </div>
    <div class="right-column"></div>
  </div>
</div-->